@model IEnumerable<KnowledgeHubPortal.Domain.Entities.Catagory>
@{
    ViewBag.Title = "Index";
}

<h2>Catagories (@Model.Count())</h2>

@TempData["Message"]


<p>
    @Html.ActionLink("Create New Catagory", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CatagoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CatagoryId })
            </td>
        </tr>
    }

</table>
